.home_hero_outer{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $primary-white;
    z-index: 0;
    overflow: hidden;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgb(244, 244, 244) 0%, rgba(244, 244, 244, 1) 15%, rgba(244, 244, 244, 0.1), rgba(244, 244, 244, 0));
        z-index: 2;
    }
    .hero_bg{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/balloons-bg-grey.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
        background-attachment: fixed;
    }
    .logo_container{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/lm_logo_2.png);
    background-size: 150px 150px;
    background-position: center;
    z-index: 3;
    }
}

/* Balloons */

.balloon1{
    position: absolute;
    width: 180px;
    height: 229px;
    background-image: url(../images/balloon1.png);
    background-size: 180px 229px;
    background-repeat: no-repeat;
    left: 20%;
    transform: translate(0px, 300px);
    z-index: 3;
}

.balloon2{
    position: absolute;
    width: 167px;
    height: 224px;
    background-image: url(../images/balloon2.png);
    background-size: 74px 101px;
    background-repeat: no-repeat;
    right: 15%;
    transform: translate(0px, 250px);
    z-index: 3;
}
.balloon3{
    position: absolute;
    width: 107px;
    height: 135px;
    background-image: url(../images/balloon3.png);
    background-size: 50px 63px;
    background-repeat: no-repeat;
    right: 25%;
    //top: 20px;
    transform: translate(0px, 200px);
    z-index: 3;
}
.balloon4{
    position: absolute;
    width: 78px;
    height: 95px;
    background-image: url(../images/balloon4.png);
    background-size: 35px 43px;
    background-repeat: no-repeat;
    right: 40%;
    //top: 55%;
    transform: translate(0px, 450px);
    z-index: 3;
}

@media (max-width: 1200px){
    .balloon1{
        background-size: 120px 153px;
        
    }
    .balloon2{
        background-size: 45px 61px;
        right: 10%;
        
    }
    .balloon3{
        background-size: 35px 44px;
    }
    .balloon4{
        background-size: 25px 31px;
        
    }
}
@media (max-width: 780px){
    .balloon1{
        background-size: 80px 102px;
        transform: translate(0px, 250px);
    }
    .balloon2{
        background-size: 35px 47px;
        right: -5%;
    }
    .balloon3{
        background-size: 25px 31px;
    }
    .balloon4{
        background-size: 20px 25px;
        transform: translate(0px, 350px);
    }
}